<!DOCTYPE html>
<html>
    <head>
        <title>AQI Project - Portal</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static "css/stylesheet.css" %}'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">


    </head>

    <body>
        <div class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
                 style="background-color: rgb(66, 133, 244);">
                <a class="navbar-brand" href="index.html">
                    <img src='{% static "img/cloud.png" %}' style="width: 35px; height: 35px; margin-right: 10px;">aqiProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search other City" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>


        <div class="container">
            <div class="row" id="topRow">
                <div id="d1">
                    <!-- Google Maps imported here -->
                </div>
                <div id="d2">
                  <div id="main_top">
                    <div id="temp_info">
                      <h4>Temperature:</h4>
                      <h2 class="display-4">{{ tpc }}&#8451;</h2>
                      <h2 class="display-4">{{ tpf }}&#8457;</h2>
                    </div>
                    <div id="temp_img">
                      <img src='{% static ic %}' style="width: 230px; height: 200px;">
                    </div>
                  </div>
                  <hr class="my-4">
                  <div id="main_bottom">
                    <div id="demographics">
                      <h4>Demographics:</h4>
                      <p>
                        City:  {{ city }}<br>
                        State: {{ state }}
                      </p>
                    </div>
                    <div id="reload_button">
                        <a class="btn btn-primary btn-lg" href="http://aqiproject.com">Reload</a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row" id="bottomRow">
                <div id="d3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Description</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">&#x2601;</th>
                                <td>Humidity</td>
                                <td>{{ hu }}</td>
                            </tr>
                            <tr>
                                <th scope="row">&#x1F4C8;</th>
                                <td>Atmospheric Pressure in hPa</td>
                                <td>{{ pr }}</td>
                            </tr>
                            <tr>
                                <th scope="row">&#x1F504;</th>
                                <td>Wind Direction</td>
                                <td>{{ wd }}</td>
                            </tr>
                            <tr>
                                <th scope="row">&#x1F4A8;</th>
                                <td>Wind Speed (m/s)</td>
                                <td>{{ ws }}</td>
                            </tr>
                            <tr>
                                <th scope="row">&#x1F1FA;</th>
                                <td>AQI value based on US EPA standard</td>
                                <td>{{ aqius }}</td>
                            </tr>
                            <tr>
                                <th scope="row">&#x1F1E8;</th>
                                <td>AQI value based on Chine MEP standard</td>
                                <td>{{ aqicn }}</td>
                            </tr>
                            <tr>
                                <th scope="row">&#x1F1FA;</th>
                                <td>Pollutant for US AQI</td>
                                <td>{{ aqicn }}</td>
                            </tr>
                            <tr>
                                <th scope="row">&#x1F1E8;</th>
                                <td>Pollutant for Chinese AQI</td>
                                <td>{{ maincn }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('d1'), {
                    center: {lat: {{ lat }}, lng: {{ long }} },
                    zoom: 15
                });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxORLfKXEFIagSPiBagEK2EoRHOEvt8Ic&callback=initMap">
        </script>

    </body>
</html>
